.contact {
    width: 100%;
    background-color: $secondary;
    padding: 100px 0;
    box-shadow: 0 0 0 100vmax $secondary;
    clip-path: inset(0 -100vmax);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h3 {
        font-size: 40px;
    }

    .contact-form {
        max-width: 771px;
        width: 100%;
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .form-row {
            display: flex;
            flex-direction: column;
            margin-bottom: 23px;
            justify-content: space-between;
            width: 100%;

            .form-row-input {
                width: 100%;
            }
        }

        #message {
            width: 100%;
            height: 230px;
        }

        textarea {
            resize: none;
        }



        input[type="text"], input[type="email"],
        textarea {
            background-color: #2E3340;
            height: 65px;
            outline: none;
            border: none;
            padding: 30px;
            color: white;
            font-size: 20px;


            &::-webkit-input-placeholder,
            textarea {
                /* Edge */
                color: white;
                font-size: 20px;
            }

            &::-ms-input-placeholder,
            textarea {
                /* Internet Explorer 10-11 */
                color: white;
                font-size: 20px;
            }

            &::placeholder,
            textarea {
                color: white;
                font-size: 20px;
            }

            transition: $transition;
            &:focus{
                border: 1px solid $accent;
                
            }
        }

        #submit {
            display: inline-block;
            margin-top: 10px;

            &::before {
                content: "";
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                border-right: 2px solid transparent;
                border-left: 2px solid transparent;
                width: 99%;
                height: 99%;
                transition: $transition;
            }

            &:hover {
                background-color: $accent;
                color: $secondary;

                &::before {
                    width: 120%;
                    height: 120%;
                    border-right: 2px solid $accent;
                    border-left: 2px solid $accent;
                }
            }
        }
    }

    .getintouch {
        display: flex;
        align-items: center;
        margin-top: 20px;
        text-decoration: none;

        img {
            margin-right: 10px;
        }

        p {
            font-weight: 400;
            border-bottom: 1px solid $light;

        }

        h6 {
            position: absolute;
        }
    }

    a {
        p {
            transition: $transition;

        }

        &:hover {
            p {
                color: $accent;
                border-bottom: 1px solid $accent;
            }
        }
    }
}

@media screen and (min-width: 576px) {
    .contact {
        h3 {
            font-size: 60px;
        }

        h6 {
            font-size: 140px;
        }
        .form-row {
            flex-direction: row !important;
            width: 100% !important;
            margin-bottom: 4.5% !important;


            .form-row-input {
                width: 47.5% !important;
            }
        }
    }
}