@import "./_variables";
@import "./_nav.scss";
@import "./_contact.scss";
@import "./_footer.scss";
@import "./_hero.scss";
@import "./_work.scss";
@import "./projectPage";
@import "./transition";


* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::-webkit-scrollbar {
        width: 10px;
        transition: 500ms all ease;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: $light;
        transition: 500ms all ease;
    }

    &::-moz-selection {
        /* Code for Firefox */
        color: $accent;
        background: $light;
    }

    &::selection {
        color: $secondary;
        background: $light;
    }

    /* Handle on hover */

}

html {
    scroll-behavior: smooth;
}

#butter {
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 42%;
        height: 100vh;
        background-color: $secondary;
        z-index: -1;
    }
}



body {
    background-color: $primary;
    height: 100vh;
    width: 100%;
    position: relative;
}

h1 {
    font-size: 2.31rem;
    font-weight: 600;
    color: $light;
}

h2 {
    font-size: 1.31rem;
    font-weight: 500;
    color: $light;
}

h3 {
    font-size: 37px;
    color: $light;
    font-weight: 600;

}

p {
    font-size: 0.92rem;
    color: $light;
    font-weight: 300;
    line-height: 26px;
}

h6 {
    font-size: 120px;
    font-weight: 600;
    color: $light;
    opacity: 0.02;
    transition: 500ms all ease;
}

.p-regular {
    font-size: 1rem;
    font-weight: 400;
}

.colored {
    color: $accent;
    margin-bottom: -5px;
}

.cta {
    font-size: 1.1rem;
    color: $accent;
    border: 2px solid $accent;
    padding: 12px 25px;
    background-color: transparent;
    font-weight: 400;
    transition: $transition;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-right: 2px solid transparent;
        border-left: 2px solid transparent;
        width: 99%;
        height: 99%;
        transition: $transition;
    }

    &:hover {
        background-color: $accent;
        color: $secondary;

        &::before {
            width: 120%;
            height: 120%;
            border-right: 2px solid $accent;
            border-left: 2px solid $accent;
        }
    }
}

.cta-header {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    margin-top: 40px;
    display: inline-block;
}

.container {
    max-width: 1300px;
    width: 100%;
    padding: 0 34px;
    margin-inline: auto;
    min-height: 80vh;
    position: relative;
}




.intro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999999999;
    background-color: $secondary;
    animation: FadeOut 1000ms forwards 1600ms;

    img {
        width: 234px;
        height: 234px;
        animation: ZTFadeOut 1000ms forwards 1600ms;

    }
}

.intro-transition {
    animation: FadeIn 1000ms forwards !important;
}

.intro-zt-transition {
    animation: ZTFadeIn 600ms forwards !important;
}

.z-index-fix {
    z-index: -5;
}


[class^="cursor"]{
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    z-index: 9999;
    pointer-events: none;
}
.cursor-outer{
    width: 50px;
    height: 50px;
    transition: all 200ms ease-out;
}
.content:hover ~ .cursor-outer{
    width: 90px;
    height: 90px;
    background: #fff;
    mix-blend-mode: difference;
}


@keyframes FadeOut {
    0% {
        opacity: 1;
    }

    99% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        display: none;
        z-index: -5;
    }
}

@keyframes FadeIn {
    from {
        display: flex;
        opacity: 0;
        z-index: -5;
    }

    to {
        opacity: 1;
        z-index: 999;
    }
}

@keyframes ZTFadeOut {
    from {
        margin-top: 0;
    }

    to {
        margin-top: -115vh;
    }
}

@keyframes ZTFadeIn {
    from {
        margin-top: -200px;
    }

    to {
        margin-top: 0;
    }
}




@media screen and (min-width: 576px) {

    h2 {
        font-size: 54px;
        margin-top: -30px;
    }

    p {
        font-size: 20px;
        max-width: 700px;
    }

    .p-regular {
        font-size: 20px;
        font-weight: 400;
    }

    .cta {
        font-size: 21px;
        padding: 15px 30px;
    }

    #butter {
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 42%;
            height: 100vh;
            background-color: $secondary;
            z-index: -1;
        }
    }
}



// header style
header {
    height: 73.5vh;
    position: relative;


}

.header-bg-text {
    position: absolute;
    bottom: 50px;
    left: 0;
}

.side-social-icons {
    display: none;
    position: absolute;
    right: 35px;
    top: 60vh;
    flex-direction: column;
    width: 100%;
    max-width: 1920px;
    align-items: flex-end;
    padding-right: 35px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 90;
    pointer-events: none;


    .line {
        height: 100px;
        width: 3px;
        background-color: $light;
        margin: 5px 0;
        margin-right: 15px;
    }

    a {
        pointer-events: all;

        &:hover {
            transform: translate(1.1);
        }
    }

    img {
        width: 30px;
        height: 30px;
        margin: 15px 0;
        transition: $transition;

        &:hover {
            transform: translate(1.1);
        }
    }
}

@media screen and (min-width: 576px) {
    .header-bg-text {
        bottom: -0 !important;
        font-size: 200px !important;
        right: 86vw !important;
    }

    .side-social-icons {
        display: flex;
    }
}