@import "../../style/variables";

.hero {
    //border: 1px solid $accent;
    height: 300px;
    width: 100%;
    margin-top: 130px;
    text-align: left;
    max-width: 100%;
    margin-inline: auto;

    .hi-tag {
        margin-bottom: -5px;
    }

    h1 {
        margin-bottom: -5px;
    }

    .hero-desc {
        margin-top: 20px;
    }

    button {
        margin-top: 40px;
    }
}

@media screen and (min-width: 576px) {
    .hero {
        max-width: 100%;
    }

}