@import "../../style/variables";


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0;
}

.nav-logo {
    width: 64px;
    height: 64px;
    margin-top: 10px;
    display: block;

    img {
        width: 64px;
        height: 64px;
        margin-left: -10px;
    }

    z-index: 105;
}

.hamburger {
    width: 44px;
    height: 25px;
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 101;
    cursor: pointer;
}

.nav-logo-text {
    z-index: 101;
    font-weight: 400;
    text-align: left;
    line-height: 1;
    font-size: 2.375rem;
    display: none;

    span {
        font-weight: 600;
        display: block;
    }
}

.nav-open {
    display: flex;
    position: absolute;
    background-color: $secondary;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    align-items: center;
    justify-content: end;
    padding: 30px 35px;
    padding-top: 70px;

    .nav-links {
        font-size: 3.3rem;
        font-weight: 600;
        text-align: right;
        list-style-type: none;
        margin-top: 0;
        max-width: 1920px;
        width: 100%;
        margin-inline: auto;

        .nav-social-media {
            li {
                margin-bottom: -10px;
            }
        }
        a {
            text-decoration: none;
            color: $light;
            transition: $transition;

            &:hover {
                color: $accent;
                margin-right: 30px;
            }
        }
    }
}

@media screen and (min-width: 576px){
    .nav-logo-text{
        display: block;
    }
    .nav-logo{
        display: none;
    }
}